
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let pais of paises; let i = index">
    <div class="card text-white bg-dark h-100">
      <img class="card-img-top"  [src]="pais.flags.png" [alt]="pais.name">
      <div class="card-body">
        <h5 class="card-title">{{pais.name}}</h5>
        <p class="card-text">{{pais.capital}}</p>
        <small>Habitantes: {{pais.population | number}}</small>
        <hr>
        <a [routerLink]="['/pais', pais.alpha3Code]" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
</div>
