

<h2>Por Región</h2>
<div class="card">
    <!--[ngClass]="{
        'btn-dark': region === regionActiva,
        'btn-outline-dark': region !== regionActiva
        }"-->
    <div class="card-body">
        <h5 class="card-title">Buscar por Regiones <small>{{regionActiva | titlecase}}</small></h5>
        <button
        [class]="(region === regionActiva)? 'btn-dark': 'btn-outline-dark'"
        class="btn m-1"
        (click)="activarRegion(region)"
        *ngFor="let region of regiones">{{region}}</button>
    </div>
</div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let pais of paises" >
          <div class="card text-white bg-dark" >
            <img src="{{pais.flag}}" class="card-img-top" alt="{{pais.name}}">
            <div class="card-body">
              <h5 class="card-title">{{pais.name}}</h5>
              <p class="card-text">{{pais.subregion}}, {{pais.timezones}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Capital: {{pais.capital}}</small>
              </div>
          </div>
        </div>
      </div>


